.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 3px;
  border: 1px solid rgba(255, 255, 255, 0.335);
  border-radius: 8px;
  z-index: 20 !important;
  background-color: rgba(0, 0, 0, 0.5);
  width: 200px;
  padding: 8px 4px 8px 7px;
  left: 0;
  top: 5px;
  box-shadow: 0px 0px 3.35px black;
  backdrop-filter: blur(25px);

  .divider {
    margin: -1px 3px 1px 0px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.335);
  }

  .dropdown-item {
    padding: 1px 8px;
    font-size: 13px;
    transform: scaleY(1.03);
    border: none;
    border-radius: 4px;
  }
}

.selectable {
  &:hover {
    background-color: rgb(177, 58, 183);
  }
}
