.Top-bar {
  width: 100%;
  background-color: rgba(58, 56, 56, 0.698);
  display: flex;
  height: 24px;
  cursor: default;
  position: relative;

  .Top-items-left {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .apple-icon {
      height: 15px;
      width: 15px;
      padding: 0 15px;
      padding-bottom: 1px;
    }

    .Finder {
      font-weight: 700;
    }

    p {
      font-size: 14px;
      color: white;
      padding: 0 10px;
      padding-bottom: 1px;
      cursor: pointer;
      position: relative;
    }

    .dropdown-menu {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 8px;
      box-shadow: 0px 0px 3.35px black;
      padding: 11px 4px 8px 7px;
      z-index: 1000;
      width: 200px;
      top: 100%;
      left: 0;
      margin-top: 5px;
    }

    .dropdown-menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .dropdown-menu li {
      padding: 4px 8px;
      cursor: pointer;
      color: white;
      font-size: 14.6px;
      transform: scaleY(1.03);
      border: none;
      border-radius: 4px;
      transition: background-color 0.3s;
    }

    .dropdown-menu li:hover {
      background-color: #bf5af2;
    }
  }

  .Top-items-right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

    svg,
    img {
      padding: 0 7px;
      width: 20px;
      height: 18px;
    }

    p {
      column-gap: 5px;
      color: white;
      padding: 0 2px;
      font-weight: 400;
      font-size: 15px;
    }

    .time {
      padding-left: 7px;
      padding-right: 15px;
    }

    @keyframes searching {
      0% {
        opacity: 0.2;
      }

      25% {
        opacity: 1;
      }

      50% {
        opacity: 0.2;
      }

      100% {
        opacity: 0.2;
      }
    }

    .wifi-icon .level-1 {
      animation: searching 2s ease infinite;
      animation-delay: 1.5s;
    }

    .wifi-icon .level-2 {
      animation: searching 2s ease infinite;
      animation-delay: 1s;
    }

    .wifi-icon .level-3 {
      animation: searching 2s ease infinite;
      animation-delay: 0.5s;
    }

    .wifi-icon .dot {
      animation: searching 2s ease infinite;
    }
  }
}
