.Top-bar {
  width: 100%;
  background-color: rgba(58, 56, 56, 0.698);
  display: flex;
  height: 24px;
  cursor: default;
  position: relative;

  .Top-items-left {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .apple-icon {
      height: 15px;
      width: 15px;
      padding: 0 15px;
      padding-bottom: 1px;
      cursor: pointer;

      &.active {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
      }
    }

    .Finder {
      font-weight: 700;
    }

    p {
      font-size: 14px;
      color: white;
      padding: 0 10px;
      padding-bottom: 1px;
      cursor: pointer;
      position: relative;

      &.active {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
      }
    }

    .dropdown-container {
      position: absolute;
      top: 100%;
      left: 0;
    }
  }

  .Top-items-right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

    svg,
    img {
      padding: 0 7px;
      width: 20px;
      height: 18px;
    }

    p {
      column-gap: 5px;
      color: white;
      padding: 0 2px;
      font-weight: 500;
      font-size: 15px;
    }

    .time {
      padding-left: 7px;
      padding-right: 15px;
    }

    @keyframes searching {
      0% {
        opacity: 0.2;
      }

      25% {
        opacity: 1;
      }

      50% {
        opacity: 0.2;
      }

      100% {
        opacity: 0.2;
      }
    }

    .wifi-icon .level-1 {
      animation: searching 2s ease infinite;
      animation-delay: 1.5s;
    }

    .wifi-icon .level-2 {
      animation: searching 2s ease infinite;
      animation-delay: 1s;
    }

    .wifi-icon .level-3 {
      animation: searching 2s ease infinite;
      animation-delay: 0.5s;
    }

    .wifi-icon .dot {
      animation: searching 2s ease infinite;
    }
  }
}
