.bin-taskbar {
  box-sizing: border-box;
  width: 690px;
  height: 30px;
  background-color: rgb(58, 56, 56);
  display: flex;
  align-items: center;
  border-radius: 5px;

  #dot-one {
    margin-left: 10px;
  }

  #bin-title {
    margin: auto;
    padding-right: 50px;
    color: white;
  }
}

.bin-container {
  box-sizing: border-box;
  height: 470px;
  width: 690px;
  margin: 140px auto;
  background-color: rgb(63, 60, 60);
  border-radius: 5px;

  .cv-container {
    width: 24%;
    height: 38%;
    margin: 5px;
    display: flex;
    flex-direction: column;

    img {
      cursor: pointer;
      width: 160px;
    }

    p {
      font-size: 14px;
      color: white;
      margin: -20px auto;
    }
  }

  .cv-container:hover {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.432);
  }
}
