.notes-app {
  width: 880px;
  margin: auto;
  margin-top: 50px;

  .notes-taskbar {
    width: 100%;
    height: 50px;
    background-color: rgb(31, 27, 37);
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;

    .small-section {
      width: 31%;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: rgb(31, 27, 37);
      border-radius: 10px 0 0 0;
      border-right: black 1px solid;

      .dots-container {
        display: flex;
        margin-left: 15px;

        .browser-dot {
          height: 11px;
          width: 11px;
          margin: 4px;
        }
      }

      img {
        height: 35px;
        margin-left: 15px;
        pointer-events: none;
      }
    }

    .large-section {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      img {
        height: 32px;
        margin-left: 20px;
        margin-top: 5px;
        pointer-events: none;
      }
    }
  }

  .notes-content {
    display: flex;
    background-color: rgb(30, 30, 31);
    height: 600px;

    .sidenotes-content {
      display: flex;
      flex-direction: column;
      width: 266px;
      height: 100%;
      background-color: rgb(20, 15, 26);

      .sidenotes-sub-title {
        width: 100%;
        height: 30px;
        background-color: rgb(31, 27, 37);
        border-bottom: 1px solid rgb(82, 82, 82);
        border-top: 1px solid black;
        border-right: 1px solid black;

        p {
          color: rgb(180, 180, 180);
          font-size: 12px;
          margin-left: 15px;
        }
      }

      .main-note-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(154, 62, 163);
        color: white;
        width: 90%;
        height: 9%;
        border-radius: 5px;
        font-size: 12px;
        margin: 10px auto;

        .main-note-content {
          margin-left: 20px;

          p {
            margin: 0;
          }

          .main-note-text {
            display: flex;
          }

          .main-note-title {
            font-weight: 700;
            margin-right: 5px;
          }

          .main-note-subtext {
            color: rgb(218, 218, 218);
          }
        }
      }

      .subnotes-date {
        color: rgb(180, 180, 180);
        font-size: 12px;
        margin-left: 15px;
        margin-top: 10px;
      }

      .note-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: white;
        width: 90%;
        height: 9%;
        font-size: 12px;
        margin: 2px auto;
        border-bottom: 1px solid rgb(53, 53, 53);

        .main-note-content {
          margin-left: 20px;

          p {
            margin: 0;
          }

          .main-note-text {
            display: flex;
          }

          .main-note-title {
            font-weight: 700;
            margin-right: 5px;
          }

          .main-note-subtext {
            color: rgb(218, 218, 218);
          }
        }
      }
    }

    .big-note {
      flex: 1;
      color: white;
      margin-left: 35px;

      h3 {
        margin: 0;
      }

      img {
        width: 15px;
        height: 15px;
        margin-left: 5px;
        pointer-events: none;
      }
    }
  }
}
